@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --green: #27ae60;
  --black: #2c2c54;
  --white1: white;
  --white2: rgb(242, 240, 240);
}

#ez {
  display: none;
}


* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;

}

*::selection {
  background: var(--green);
  color: #fff;
}

html {

  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
  background-color: var(--white1);
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: white;
  border-radius: 1rem;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

#nohov {
  background: var(--green);
}

.btn:hover {
  background: #2c2c54;
  ;
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;

}

header {
  position: fixed;
  background-color: var(--white1);

}


.heading span {
  color: var(--green);
  text-transform: uppercase;
}


.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i {
  padding-right: .5rem;
  color: var(--green);
}





.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.home .image {
  flex: 1 1 40rem;
  padding-top: 5rem;
}
#opp{background-color: var(--green);
color: white;}
#opp:hover{background-color: #2c2c54;}
.home .image img {
  border-radius: 4rem;
  width: 70%;
  margin-top: 13px;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  font-size: 3rem;
  color: #666;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: var(--black);
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

.category .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.category .box-container .box {
  border: .1rem solid var(--black);
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: .5rem 0;
}

.category .box-container .box h3 {
  font-size: 3.5rem;
  color: var(--black);
}

.category .box-container .box p {
  font-size: 2rem;
  color: #666;
  padding: .5rem 0;
}

.category .box-container .box .btn {
  display: block;
}

.product {
  margin-top: 60px;
}

.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
#padadingtop{padding-top: 10%;}
.product .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  border: .1rem solid var(--black);
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img {
  height: 20rem;
  border: 4px solid var(--col);
  border-radius: 20px;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--black);
  color: var(--green);
  padding: .7rem 1rem;
  font-size: 2rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: .5rem;
  right: -6rem;
}

.product .box-container .box:hover .icons {
  right: 1rem;
}

.product .box-container .box .icons a {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  background: var(--green);
  border-radius: 50%;
  margin-top: .7rem;
}

.product .box-container .box .icons a:hover {
  background: var(--black);
  color: var(--white1);
}

.product .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .stars i {
  padding: 1rem .1rem;
  font-size: 1.7rem;
  color: var(--green);
}

.product .box-container .box .price {
  font-size: 2rem;
  color: var(--black);
  padding: .5rem 0;
}

.product .box-container .box .price span {
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.product .box-container .box .quantity span {
  padding: 0 .7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input {
  border: .1rem solid rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: .5rem;
  background: var(--black);
}

.product .box-container .box .btn {
  display: block;
}

.deal {
  background: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.deal .content {
  max-width: 50rem;
}

.deal .content .title {
  font-size: 4rem;
  color: var(--black);
}

.deal .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #666;
}

.deal .content .count-down {
  display: flex;
  gap: 1rem;
  padding: .5rem 0;
}

.deal .content .count-down .box {
  width: 9rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
}

.deal .content .count-down .box h3 {
  color: var(--black);
  background: var(--white1);
  height: 7rem;
  line-height: 7rem;
  width: 100%;
  font-size: 5rem;
}

.deal .content .count-down .box span {
  display: block;
  background: var(--black);
  color: var(--white1);
  width: 100%;
  padding: .5rem;
  font-size: 2rem;
}

.contact form {
  text-align: center;
  padding: 2rem;
  border: .1rem solid var(--black);
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--white1);

}

.contact form .inputBox input,
.contact form textarea {
  padding: 1rem;
  font-size: 1.7rem;
  background-color: var(--white2);
  text-transform: none;
  margin: 1rem 0;
  border: .1rem solid var(--black);
  width: 49%;
}

.icons-container {
  background: var(--white1);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  background: var(--white2);
  border: 0.1rem solid var(--green);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: var(--black);
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icons-container .icons span {
  color: #999;
  font-size: 1.3rem;
}

.contact form textarea {
  height: 20rem;
  resize: none;
  width: 100%;
  color: var(--black);
}

.newsletter {
  background: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem 2rem;

}

.newsletter h3 {
  font-size: 3rem;
  color: var(--black);
}

.newsletter form {
  max-width: 55rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1.5rem;
  background: #999;
}

.newsletter form .box {
  background-color: var(--white2);

  width: 100%;
  padding: .7rem 1.5rem;
  font-size: 1.7rem;
  color: var(--black);
  text-transform: none;
}

.newsletter form .btn {
  margin-top: 0;
}

#az {
  display: none;
}

#scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  text-align: center;
  color: var(--green);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background-color: var(--white2);

}

#popop {
  margin-top: 10px;
}

#hi2 {
  display: none;
  font-size: 280%;
}

#alar {
  display: none;
}

/* media queries  */

@media(max-width:1200px) {

  html {
    font-size: 55%;
  }

}

@media(max-width:991px) {
  header .icons {
    display: flex;
  }
  #padadingtop{padding-top: 15%;}

  .product {
    margin-top: 100px;
  }

  .home {
    margin-top: 100px;
  }

  .header-1,
  .header-2 {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media(max-width:768px) {
  #az {
    display: block;
  }
  #padadingtop{padding-top: 20%;}

  #az i {
    color: var(--green);
  }

  #az b {
    color: var(--green);
  }

  .product {
    margin-top: 90px;
  }

  .home {
    margin-top: 180px;
  }

  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active {
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background: var(--white1);
    padding: 1rem;
    margin: 1.5rem 0;
  }

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .deal {
    background-position: left;
  }

  .deal .content {
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down {
    justify-content: center;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .newsletter h3 {
    font-size: 2.2rem;
  }

}

@media(max-width:717px) {
  .home .image {
    display: none;
  }

  #az {
    display: block;
  }
}

@media(max-width:450px) {


  .home {
    margin-top: 100px;
  }

  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .logo {
    font-size: 4rem;
  }

  .deal .content .count-down .box h3 {
    font-size: 4rem;
  }

  .deal .content .count-down .box span {
    font-size: 1.5rem;
  }


}

@media(max-width:788px) {
  #alar {
    display: contents;

  }

  #az {
    display: block;
  }

  #az i {
    color: var(--green);
  }

  #az b {
    color: var(--green);
  }

  header .icons {
    display: flex;
  }

  #ahmed2 {
    display: none;
  }

  #hi1 {
    display: none;
  }

  #hi2 {
    display: initial;
  }

  header {
    padding: 20px;

  }

  header .fa-bars {
    display: initial;
  }

  header .fa-times {
    display: block;
  }


  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white1);
    border-top: 1px solid var(--black);
    display: none;
  }

  .navbar ul li {
    width: 100%;
    display: initial;
    height: 50px;
    background-color: var(--white1);
    box-shadow: 0 0 5px 0 var(--black);
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;

  }



  ul li:hover>ul,
  ul li:focus-within>ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;

  }

  ul li :hover {
    text-decoration: underline;
  }

  ul li ul li {
    clear: both;
    width: 100%;

  }

  ul li ul li :hover {
    text-decoration: underline;
  }

  header #toggler:checked~.navbar {
    display: initial;
    border-bottom: 2px solid var(--black);
  }

  #ez {
    display: initial;
    color: var(--black);
    list-style: none;
  }

  #mna {
    display: none;
  }

}